<ion-header>

  <ion-navbar color="amazonia">
    <ion-title>Pedido</ion-title>
  </ion-navbar>
  <ion-toolbar color="amazonia">
    <ion-segment [(ngModel)]="atual" color="amazoniaText">
      <ion-segment-button value="aba1">
        Dados Pessoais
      </ion-segment-button>
      <ion-segment-button value="aba2">
        Entrega
      </ion-segment-button>
      <ion-segment-button value="aba3">
        Pagamento
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!editar"></ion-content>
<ion-content class="page-checkout" *ngIf="editar">
  <div [ngSwitch]="atual">
    <div *ngSwitchCase="'aba1'">
      <ion-item-divider color="dark">Dados Pessoais</ion-item-divider>
      <form [formGroup]="user" >
        <ion-item [ngClass]="{'error-border':!user.controls.firstName.valid && user.controls.firstName.touched}">
          <ion-label stacked>Nome </ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="user.controls.firstName.hasError('required') && user.controls.firstName.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
        <ion-item [ngClass]="{'error-border':!user.controls.lastName.valid && user.controls.lastName.touched}">
          <ion-label stacked>Sobre Nome</ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="user.controls.lastName.hasError('required') && user.controls.lastName.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>

        <ion-item [ngClass]="{'error-border':!user.controls.email.valid && user.controls.email.touched}">
          <ion-label stacked>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="user.controls.email.hasError('required') && user.controls.email.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>


        <ion-item [ngClass]="{'error-border':!user.controls.cpf.valid && user.controls.cpf.touched}">
          <ion-label stacked>CPF</ion-label>
          <ion-input formControlName="cpf" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="user.controls.cpf.hasError('required') && user.controls.cpf.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>

        <ion-item [ngClass]="{'error-border':!user.controls.birthDate.valid && user.controls.birthDate.touched}">
          <ion-label stacked>Data de Nascimento</ion-label>
          <ion-input formControlName="birthDate" type="date" min="1900-01-02" min="2000-01-02"></ion-input>
        </ion-item>
        <ion-item *ngIf="user.controls.birthDate.hasError('required') && user.controls.birthDate.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>


        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select formControlName="sex" doneText="OK" cancelText="Cancela" color="amazonia">
            <ion-option value="M">Masculino</ion-option>
            <ion-option value="F">Feminino</ion-option>
            <ion-option value="NaN">Prefiro não delarar</ion-option>
          </ion-select>
      </ion-item>
      
      </form>
      
    </div>
    <div *ngSwitchCase="'aba2'">
      <ion-item-divider color="dark">Endereço de Cobrança</ion-item-divider>
      <form [formGroup]="billing" (ngSubmit)="prosseguir('aba3')">
        <ion-item [ngClass]="{'error-border':!billing.controls.rua.valid && billing.controls.rua.touched}">
          <ion-label stacked>Rua </ion-label>
          <ion-textarea formControlName="rua" type="text"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.rua.hasError('required') && billing.controls.rua.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
        <ion-item [ngClass]="{'error-border':!billing.controls.numero.valid && billing.controls.numero.touched}">
          <ion-label stacked>Numero</ion-label>
          <ion-input formControlName="numero" type="text" maxlength="7"></ion-input>
        </ion-item>

        <ion-item *ngIf="billing.controls.numero.hasError('required') && billing.controls.numero.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>

        <ion-item [ngClass]="{'error-border':!billing.controls.complemento.valid && billing.controls.complemento.touched}">
          <ion-label stacked>Complemento</ion-label>
          <ion-textarea formControlName="complemento" type="text"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.complemento.hasError('required') && billing.controls.complemento.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>

        <ion-item [ngClass]="{'error-border':!billing.controls.cep.valid && billing.controls.cep.touched}">
          <ion-label stacked>CEP</ion-label>
          <ion-textarea formControlName="cep" type="number"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.cep.hasError('required') && billing.controls.cep.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>


        <ion-item>
          <ion-label>Pais</ion-label>
          <ion-select formControlName="pais" doneText="OK" cancelText="Cancela" color="amazonia">
            <ion-option value="BRA">Brasil</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select formControlName="estado" doneText="OK" cancelText="Cancela" color="amazonia">
            <ion-option value="PA">Pará</ion-option>
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'error-border':!billing.controls.cidade.valid && billing.controls.cidade.touched}">
          <ion-label stacked>Cidade</ion-label>
          <ion-textarea formControlName="cidade" type="text"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.cidade.hasError('required') && shipping.controls.cidade.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
        <ion-item [ngClass]="{'error-border':!billing.controls.bairro.valid && billing.controls.bairro.touched}">
          <ion-label stacked>Bairro</ion-label>
          <ion-textarea formControlName="bairro" type="text"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.cidade.hasError('required') && shipping.controls.cidade.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
        <ion-item-divider color="dark">Telefone</ion-item-divider>
        <ion-item [ngClass]="{'error-border':!billing.controls.ddd.valid && billing.controls.ddd.touched}">
          <ion-label stacked>DDD</ion-label>
          <ion-textarea formControlName="ddd" type="number" maxlength="3"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.ddd.hasError('required') && shipping.controls.telefone.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
        <ion-item [ngClass]="{'error-border':!billing.controls.telefone.valid && billing.controls.telefone.touched}">
          <ion-label stacked>Número</ion-label>
          <ion-textarea formControlName="telefone" type="number" maxlength="9"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="billing.controls.telefone.hasError('required') && shipping.controls.telefone.touched">
          <p>Campo Obrigatório!</p>
        </ion-item>
      </form>
      <ion-item>
        <ion-label>Mesmo Endereço de Entrega</ion-label>
        <ion-checkbox [(ngModel)]="billing_shipping_same"></ion-checkbox>
      </ion-item>

      <div *ngIf="!billing_shipping_same">
        <ion-item-divider color="dark">Endereço de Entrega</ion-item-divider>
        <form [formGroup]="shipping">
          <ion-item [ngClass]="{'error-border':!shipping.controls.rua.valid && shipping.controls.rua.touched}">
            <ion-label stacked>Rua </ion-label>
            <ion-textarea formControlName="rua" type="text"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.rua.hasError('required') && shipping.controls.rua.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>
          <ion-item [ngClass]="{'error-border':!shipping.controls.numero.valid && shipping.controls.numero.touched}">
            <ion-label stacked>Numero</ion-label>
            <ion-input formControlName="numero" type="text" maxlength="7"></ion-input>
          </ion-item>

          <ion-item *ngIf="shipping.controls.numero.hasError('required') && shipping.controls.numero.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>

          <ion-item [ngClass]="{'error-border':!shipping.controls.complemento.valid && shipping.controls.complemento.touched}">
            <ion-label stacked>Complemento</ion-label>
            <ion-textarea formControlName="complemento" type="text"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.complemento.hasError('required') && shipping.controls.complemento.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>

          <ion-item [ngClass]="{'error-border':!shipping.controls.cep.valid && shipping.controls.cep.touched}">
            <ion-label stacked>CEP</ion-label>
            <ion-textarea formControlName="cep" type="number"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.cep.hasError('required') && shipping.controls.cep.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>


          <ion-item>
            <ion-label>Pais</ion-label>
            <ion-select formControlName="pais" doneText="OK" cancelText="Cancela" color="amazonia">
              <ion-option value="BRA">Brasil</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select formControlName="estado" doneText="OK" cancelText="Cancela" color="amazonia">
              <ion-option value="PA">Pará</ion-option>
            </ion-select>
          </ion-item>

          <ion-item [ngClass]="{'error-border':!shipping.controls.cidade.valid && shipping.controls.cidade.touched}">
            <ion-label stacked>Cidade</ion-label>
            <ion-textarea formControlName="cidade" type="text"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.cidade.hasError('required') && shipping.controls.cidade.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>

          <ion-item-divider color="dark">Telefone</ion-item-divider>
          <ion-item [ngClass]="{'error-border':!shipping.controls.ddd.valid && shipping.controls.ddd.touched}">
            <ion-label stacked>DDD</ion-label>
            <ion-textarea formControlName="ddd" type="number" maxlength="3"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.ddd.hasError('required') && shipping.controls.telefone.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>
          <ion-item [ngClass]="{'error-border':!shipping.controls.telefone.valid && shipping.controls.telefone.touched}">
            <ion-label stacked>Número</ion-label>
            <ion-textarea formControlName="telefone" type="number" maxlength="9"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="shipping.controls.telefone.hasError('required') && shipping.controls.telefone.touched">
            <p>Campo Obrigatório!</p>
          </ion-item>
        </form>
      </div>
      <ion-item-divider color="dark">Forma de Envio</ion-item-divider>
      <div class="formasPagamento">
        <div *ngIf="newOrder.valorEntrega > 0">
          <ion-grid>
            <ion-row>
              <ion-col col-6 style="text-align:left !important;">
                <b>Valor:</b>
              </ion-col>
              <ion-col col-6 style="text-align:right !important;">
                <b>{{newOrder.valorEntrega.toFixed(2)}}</b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 style="text-align:left !important;">
                <b>Prazo:</b>
              </ion-col>
              <ion-col col-6 style="text-align:right !important;">
                <b>{{this.newOrder.prazoEntrega}} Dias</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-list radio-group [(ngModel)]="shippingMethod" (ionChange)="calculateShipment()">
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-row>
                  <ion-icon large color="amazonia" name="cube"></ion-icon>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <ion-label>Correios PAC</ion-label>
                  </ion-col>
                  <ion-col col-2 style="padding-top: 16px;">
                    <ion-radio color="amazonia" value="pac" checked="true"></ion-radio>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col col-6>
                <ion-row>
                  <ion-icon large color="amazonia" name="cube"></ion-icon>
                </ion-row>
                <ion-row>
                  <ion-col col-10>
                    <ion-label>Correios SEDEX</ion-label>
                  </ion-col>
                  <ion-col col-2 style="padding-top: 16px;">
                    <ion-radio color="amazonia" value="sedex"></ion-radio>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-list>

      </div>
    </div>
    <div *ngSwitchCase="'aba3'">
      <ion-list>
        <ion-item-divider color="dark">Forma de Pagamento</ion-item-divider>
        <div class="formasPagamento" *ngIf="paymentMethod.payment_id =='nan'">
          <ion-grid>
            <ion-row>
              <ion-col col-6 (click)="setPaymentMethod('card')">
                <ion-row>
                  <ion-icon large color="amazonia" name="ios-card"></ion-icon>
                </ion-row>
                <ion-row>
                  <p>Cartão de Crédito</p>
                </ion-row>
              </ion-col>

              <ion-col col-6 (click)="setPaymentMethod('boleto')">
                <ion-row>
                  <ion-icon large color="amazonia" name="document"></ion-icon>
                </ion-row>
                <ion-row>
                  <p>Boleto Bancário</p>
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>
        <div *ngIf="paymentMethod.cardNumber">

          <ion-list>
            <ion-item>
              <ion-thumbnail *ngIf="cardBrandImage" item-end style="min-width : 72px  !important; min-height:0px !important; ">
                <img [src]="cardBrandImage" style="width:auto !important; height: auto !important; ">
              </ion-thumbnail>
              <ion-label>{{paymentMethod.cardNumber}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>CVV :</ion-label>
              <ion-label>{{paymentMethod.cardCVV}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Validade :</ion-label>
              <ion-label>{{paymentMethod.cardExpMonth}}/{{paymentMethod.cardExpYear}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Parcelas :</ion-label>
              <ion-label>{{paymentMethod.parcela.quantity}} x {{paymentMethod.parcela.installmentAmount}} {{paymentMethod.parcela.interestFree
                ? ' S/Juros' : ' C/Juros'}}</ion-label>
            </ion-item>
          </ion-list>
          <button ion-button block outline color="dark" (click)="paymentMethod.cardNumber = null ; paymentMethod.payment_id = 'nan'">Trocar Forma Pagamento </button>
        </div>
        <div *ngIf="paymentMethod.payment_id == 'boleto'">
          <ion-item>
            <ion-label>CPF :</ion-label>
            <ion-label>{{newOrder.user.cpf}}</ion-label>
          </ion-item>
          <button ion-button block outline color="dark" (click)="paymentMethod.payment_id = 'nan' ">Trocar Forma Pagamento </button>
        </div>

      </ion-list>


    </div>

  </div>
  <div style="height: 50px; text-align: center;"></div>
</ion-content>
<ion-footer>
  <div [ngSwitch]="atual">
    <div *ngSwitchCase="'aba1'">
      <button ion-button block color="amazonia" (click)="prosseguir('aba2')">Continuar</button>
    </div>
    <div *ngSwitchCase="'aba2'">
      <button ion-button block color="amazonia" (click)="prosseguir('aba3')">Continuar</button>
      <button ion-button block outline color="dark" (click)="atual= 'aba1' ">Voltar</button>
    </div>
    <div *ngSwitchCase="'aba3'">
      <button ion-button block color="amazonia" (click)="placeOrder()">Concluir</button>
      <button ion-button block outline color="dark" (click)="atual= 'aba2' ">Voltar</button>
    </div>
  </div>
  <div style="height: 17px; text-align: center;">
    <ion-note>Pagamento Processado por PagSeguro </ion-note>
  </div>
</ion-footer>