
<ion-header>

  <ion-navbar color="amazonia">
    <ion-title>Encomendas</ion-title>
  </ion-navbar>

</ion-header>
<ion-content *ngIf="userOrders.length == 0">
    <div class="semProdutos">
        <ion-icon large color="amazonia" name="alert"></ion-icon>
      <h1>Sem Encomendas</h1>
    
    </div>
</ion-content>
<ion-content  fullscreen hide-fab>
    <ion-fab right bottom  >
        <button ion-fab  color="amazonia">
          <ion-icon name="more"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="amazonia" ><ion-icon name="search"></ion-icon></button>
            <button ion-fab color="amazonia" (click)="openCart()">
                <ion-icon name="cart"> </ion-icon> 
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-list>
       <ion-card *ngFor="let order of userOrders" (click)="openOrderDetails(order)">
        <ion-item >
          <h2>Encomenda Nº: {{order.id}}</h2>
          <p>
            Status : {{WC.status(order.status)}}
          </p>
          <ion-grid>
              <ion-row>
                  <ion-col col-6 style="text-align:left !important;">
                     <p>QTD Produtos:</p>
                  </ion-col>
                  <ion-col col-6 style="text-align:right !important;">
                     <p>{{order.line_items.length}}</p>
                  </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col col-6 style="text-align:left !important;">
                       <p>Valor Produtos:</p>
                    </ion-col>
                    <ion-col col-6 style="text-align:right !important;">
                       <p>{{(order.total - order.shipping_total).toFixed(2)}}</p>
                    </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-6 style="text-align:left !important;">
                     <p>Valor de Entrega:</p>
                  </ion-col>
                  <ion-col col-6 style="text-align:right !important;">
                     <p>{{order.shipping_total}}</p>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6 style="text-align:left !important;">
                   <p>Valor Total:</p>
                </ion-col>
                <ion-col col-6 style="text-align:right !important;">
                   <p>{{order.total}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          <button ion-button  icon clear item-right color="amazonia">
            <ion-icon large name="arrow-forward"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
      </ion-list>
      
</ion-content>
