<ion-menu [content]="content">
  <ion-content>
    <div class="menuHeader">
      <ion-item color="amazonia" (click) ="openPageAvatar()">
          <ion-thumbnail item-left>
            <img src="assets/img/Yd0pGe0zSmKewOfZam3B_img_avatar.png" />
          </ion-thumbnail>
          <span>
            <div *ngIf="hasLogin" >
                <h2>Olá {{userData.user.firstname}}</h2>    
            </div>
            
          <h2 *ngIf="!hasLogin">Bem Vindo(a)</h2>
          </span>
          
          <p *ngIf="!hasLogin">Toque Para Entrar</p>
          <p *ngIf="hasLogin">Toque Para Acessar</p>
        </ion-item>
      </div>
      <div class="menuHeaderSpacer"></div>
    <ion-list>
      <ion-item text-wrap menuClose="" (click)="openHomePage">
        <ion-icon name="home" item-left color="amazonia" large></ion-icon>
        <h2> Inicio </h2>
      </ion-item>
      <ion-item text-wrap menuClose="" (click)="openCartPage()">
          <ion-icon name="cart" item-left color="amazonia" large></ion-icon>
          <h2> Carrinho </h2>
      </ion-item>
      <ion-item *ngIf="haslogin" text-wrap menuClose="" (click)="openCartPage()" >
          <ion-icon name="cube" item-left color="amazonia" large></ion-icon>
          <h2> Pedidos </h2>
        </ion-item>
    </ion-list>
    <div style="margin-left: 40%;margin-top:100%;">
        <ion-note>
          V 0.0.0.6
        </ion-note>
  
    </div>  
  </ion-content>
  
</ion-menu>

<ion-nav [root]="homePage" #content ></ion-nav>