<ion-menu [content]="content">
  <ion-content>
    <div class="menuHeader">
      <ion-item color="amazonia" (click) ="openPageAvatar()">
          <ion-thumbnail item-left>
              <img *ngIf="userData" [src]="userData.user.avatar === null ?'assets/img/Yd0pGe0zSmKewOfZam3B_img_avatar.png' : userData.user.avatar" />
            <img *ngIf="!userData" src="assets/img/Yd0pGe0zSmKewOfZam3B_img_avatar.png" />
          </ion-thumbnail>
          
            <h2 *ngIf="hasLogin" >Olá {{userData.user.firstname}}</h2>                
            <h2 *ngIf="!hasLogin">Bem Vindo(a)</h2>
          <p *ngIf="!hasLogin">Toque Para Entrar</p>
          <p *ngIf="hasLogin">Toque Para Acessar</p>
        </ion-item>
      
      </div>
      <div class="menuHeaderSpacer2"></div>
      
    <ion-list>
        
      <ion-item text-wrap menuClose="" (click)="openHomePage">
        <ion-icon name="home" item-left color="amazonia" large></ion-icon>
        <h2> Inicio </h2>
      </ion-item>
      <ion-item text-wrap menuClose="" (click)="openCartPage()">
          <ion-icon name="cart" item-left color="amazonia" large></ion-icon>
          <h2> Carrinho </h2>
      </ion-item>
      <ion-item *ngIf="hasLogin" text-wrap menuClose="" (click)="openOrdersPage()" >
          <ion-icon name="cube" item-left color="amazonia" large></ion-icon>
          <h2> Pedidos </h2>
        </ion-item>
      <ion-item *ngIf="hasLogin" text-wrap menuClose="" (click)="logout()" >
        <ion-icon name="log-out" item-left color="amazonia" large></ion-icon>
          <h2> Sair </h2>
      </ion-item>
    </ion-list>
    <div style="margin-left: 20%;margin-top:100%;">
        <ion-note>
          Ver : 2M1936+4603b
        </ion-note>
  
    </div>  
  </ion-content>
  
</ion-menu>

<ion-nav [root]="homePage" #content ></ion-nav>